<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ recipe?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recipe">
  <div class="foto">
    <ion-img [src]="recipe?.imageUrl" alt="Imagen de la receta"></ion-img> <!-- Imagen de la receta -->
  </div>
  <div class="receta">
    <h1>{{ recipe?.title }}</h1> <!-- Título de la receta -->
    <p>Duración: {{ recipe?.preparationTime }} minutos para {{ recipe?.serves }} personas</p> <!-- Duración y porciones -->
    <h2>Ingredientes</h2>
    <ul>
      <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient }}</li> <!-- Lista de ingredientes -->
    </ul>
    <h2>Pasos</h2>
    <ol>
      <li *ngFor="let step of recipe?.preparationSteps">{{ step }}</li> <!-- Pasos de preparación -->
    </ol>
  </div>
</ion-content>
