.login-content {
  --background: url('/assets/img/pngwing.com.png') no-repeat center center/cover;
  opacity: 0.7;
  background-color: #EEF3AD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.logo {
  width: 300px;
  height: 300px;
  margin: auto;
}

.welcome-message {
  margin-bottom: 20px;

  h1 {
    color: #FFD700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0;
  }

  p {
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.4em;
  }
}

ion-item {
  --border-radius: 10px; // Redondeo de esquinas
  --border-color: #FFD700; // Color del borde
  --color-focused: #FFD700; // Color cuando el campo está enfocado
  margin: 0 20px; // Margen lateral de 20px para ambos lados
  margin-bottom: 10px; // Espacio entre campos
}

.custom-label {
  color: #ffffff;
}

ion-input {
  background: none;
  background-color: transparent;
  border: none;
  color: #FFD700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

ion-button {
  margin-top: 20px;
  background-color: #FF4500;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: #FFD700;
    color: black;
  }
}

ion-button[expand="full"] {
  width: 100%;
  border-radius: 50px;
  max-width: 400px;
  margin: 0 auto;
}
