<ion-header>
  <ion-toolbar color="primary">
     <ion-title>YummyApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="welcome-message">
    <h1>¡Bienvenido de nuevo!</h1>
    <p>Inicia sesión para descubrir recetas increíbles</p>
  </div>
  <div class="logo">
    <img src="/assets/img/logo.png" alt="yummyapp">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating" class="custom-label">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="custom-label">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>

    <ion-button expand="full" color="secondary" (click)="goToRegister()">Crear Cuenta</ion-button>
  </form>
</ion-content>

<style>
  .login-content {
    --background: url('/assets/img/pngwing.com.png') no-repeat center center/cover;
    opacity: 0,7;
    background-color: #1a1a1a; /* Color lila claro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 20px;
  }

  .welcome-message {
    margin-bottom: 20px;
  }

  .welcome-message h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
  }

  .welcome-message p {
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

  ion-item {
    --border-color: white;
    --color-focused: white;
  }

  .custom-label {
    color: white;
  }

  .logo{ 
    width: 200px; 
    height: 200px; 
    margin:auto;
  }

  ion-input {
    background: none; /* Elimina cualquier fondo predeterminado */
    background-color: transparent; /* Hace el fondo transparente */
    border: none; /* Elimina el borde si es necesario */
    color: white; /* Color del texto blanco */
  }

  ion-button {
    margin-top: 20px;
  }
</style>
