<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recetas favoritas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToProfile()">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recetas Favoritas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="favoriteRecipes.length > 0; else noFavorites">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let recipe of favoriteRecipes">
        <ion-card (click)="viewRecipe(recipe.id)">
          <img [src]="recipe.imageUrl" alt="Imagen de la receta" />
          <ion-card-header>
            <ion-card-title>{{ recipe.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ recipe.description }}</p>
            <p><strong>⏲ Tiempo:</strong> {{ recipe.preparationTime }}</p>
            <p><strong>🍽 Porciones:</strong> {{ recipe.serves }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noFavorites>
    <ion-text class="ion-text-center">
      <h2>No tienes recetas marcadas como favoritas</h2>
    </ion-text>
  </ng-template>
</ion-content>
